<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Centro de Ciencias Matemáticas Informe Final">
    <meta name="author" content="Centro de Ciencias Matemáticas">
    <meta name="generator" content="CCM UNAM">
    <title>Informe Dr. Daniel Juan</title>

    {% block stylesheets %}

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/ccm.css') }}" />

    {% endblock %}

</head>
<body>

{% block header %}

    <div class="header">
        <div class="container">
            <div class="logo-container">
                <div class="logo"><img src="{{ asset("img/logo-unam.png") }}"></div><div class="logo"><img src="{{ asset("img/ccm-logo.png") }}"></div>            </div>
            <h2 class="my-3 block-inline"><strong>Dr. Daniel Juan Pineda</strong></h2>
            <h3>4to Informe de Actividades</h3>
        </div>
    </div>

{% endblock %}

<div class="container">

    {% block body %}

    {% endblock %}

</div>

{% block footer %}

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h1>Centro de Ciencias Matemáticas<br>
                        UNAM - Campus Morelia</h1>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <div class="d-flex">
                        <img class="footer-logo" src="{{ asset('img/unam_blanco.png') }}" alt="UNAM logo">
                        <img class="footer-logo" src="{{ asset('img/ccm4-sm.png') }}" alt="CCM logo">
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

{% endblock %}
</html>
