{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <meta charset="UTF-8" />#}
{#        <title>{% block title %}Welcome!{% endblock %}</title>#}
{#        {% block stylesheets %}{% endblock %}#}
{#        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
{#    </head>#}
{#    <body>#}
{#        {% block body %}{% endblock %}#}
{#        {% block javascripts %}{% endblock %}#}
{#    </body>#}
{#</html>#}



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Centro de Ciencias Matemáticas Informe Final">
    <meta name="author" content="Centro de Ciencias Matemáticas">
    <meta name="generator" content="CCM UNAM">
    <title>INFORME FINAL · Dr. Daniel Juan Pineda</title>

    {% block stylesheets %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />



{% endblock %}

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/carousel.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/ccm.css') }}" />

</head>
<body>
<header>



    <div class="container-fluid top-unam ">
        <div class="row align-self-center my-auto">

            <div class="col text-center justify-content-center align-self-center top-unam-logo d-none d-md-flex " ><a href="https://www.unam.mx" target="_blank">
                    <img src="{{ asset('img/unam.png') }}" alt="Logo UNAM" class="img-unam-header" width="70px"></a>
            </div>
            <div class="col text-center justify-content-center align-self-center titulo">
                Informe final del periodo 2015-2019<br> Dr. Daniel Juan <br><br>

            </div>
            <div class="col pull-right top-unam-logo text-center justify-content-center align-self-center d-none d-md-flex "><a href="https://www.unam.mx" target="_blank">
                    <img src="{{ asset('img/ccm_gris.png') }}" alt="Logo UNAM" class="img-unam-header" width="250px" ></a>
            </div>

        </div>
    </div>

    <div class="linea"></div>

    <nav class="navbar navbar-expand-md navbar-light bg-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Investigación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Docencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Difusión y Divulgación</a>
                </li>
            </ul>

        </div>
    </nav>

</header>

{% block body %}






    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>One more for good measure.</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <h1>Personal académico</h1>

        <p>El Personal Académico del CCM está integrado	por	22 investigadores de tiempo	completo y 6 técnicos académicos
            también	de	tiempo	completo.	Los	miembros	del	personal	académico,	así	como	su	categoría
            y	nivel	tanto	del	PRIDE	y	SNI	se	muestra	en	la	siguiente	tabla:</p>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Categoría</th>
                <th scope="col">Contrato</th>
                <th scope="col">PRIDE</th>
                <th scope="col">SNI</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Angelina Centeno Naila Itzel</td>
                <td>Técnico	Académico Asociado C</td>
                <td>Por	Obra Determinada</td>
                <td>B</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Balanzario Gutiérrez Eugenio Pacelli</td>
                <td>Investigador Titular A</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>II</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Bárcenas Torres Noé</td>
                <td>Investigador Titular A</td>
                <td>Interino</td>
                <td>B</td>
                <td>I</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Bautista Ramos Raymundo</td>
                <td>Emérito</td>
                <td>Emérito</td>
                <td>Emérito</td>
                <td>E</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Castorena Martínez Luis	Abel</td>
                <td>Investigador Titular A</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>II</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Cerda Farías Coppelia</td>
                <td>Técnico Académico Asociado C</td>
                <td>Por	Obra Determinada</td>
                <td>B</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Corichi	Rodríguez Gil Alejandro</td>
                <td>Investigador Titular C</td>
                <td>Definitivo</td>
                <td>D</td>
                <td>III</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Domínguez Hüttinger	Elisa</td>
                <td>Investigador Asociado C</td>
                <td>Por	Obra Determinada</td>
                <td>B</td>
                <td>C</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Garaev Moubariz</td>
                <td>Investigador Titular C</td>
                <td>Definitivo</td>
                <td>D</td>
                <td>III</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>García Ferreira	Salvador</td>
                <td>Investigador Titular B</td>
                <td>Definitivo</td>
                <td>D</td>
                <td>III</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>González García	Lidia</td>
                <td>Técnico	Académico Titular A</td>
                <td>Definitivo</td>
                <td>D</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Hrusak Michael</td>
                <td>Investigador Titular B</td>
                <td>Definitivo</td>
                <td>D</td>
                <td>III</td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>Hunedy López Gasde Augusto</td>
                <td>Técnico Académico Asociado C</td>
                <td>Por Obra Determinada</td>
                <td>B</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>Juan Pineda	Daniel</td>
                <td>Investigador Titular B</td>
                <td>Definitivo</td>
                <td>D</td>
                <td>III</td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td>Kaikina	Elena</td>
                <td>Investigador Titular C</td>
                <td>Definitivo</td>
                <td>D</td>
                <td>III</td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>Magaña Lemus Miguel	Ángel</td>
                <td>Técnico	Académico Titular A</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td>Muciño Raymundo	Jesús Ruperto</td>
                <td>Investigador Titular B</td>
                <td>Definitivo</td>
                <td>B</td>
                <td>II</td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td>Naoumkine Pavel</td>
                <td>Investigador Titular C</td>
                <td>Definitivo</td>
                <td>D</td>
                <td>III</td>
            </tr>
            <tr>
                <th scope="row">19</th>
                <td>Castorena Martínez Luis	Abel</td>
                <td>Investigador Titular A</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>II</td>
            </tr>
            <tr>
                <th scope="row">20</th>
                <td>Oeckl Robert</td>
                <td>Investigador Titular B</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>II</td>
            </tr>
            <tr>
                <th scope="row">21</th>
                <td>Pellicer Covarrubias Daniel</td>
                <td>Investigador Titular A</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>II</td>
            </tr>
            <tr>
                <th scope="row">22</th>
                <td>Raggi Cárdenas Alberto Gerardo</td>
                <td>Investigador Titular A</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>II</td>
            </tr>
            <tr>
                <th scope="row">23</th>
                <td>Ramos García Ulises	Ariet</td>
                <td>Investigador Asociado C</td>
                <td>Interino</td>
                <td>B</td>
                <td>I</td>
            </tr>
            <tr>
                <th scope="row">24</th>
                <td>Roldán Pensado Edgardo</td>
                <td>Investigador Asociado C</td>
                <td>Por	Obra Determinada</td>
                <td>B</td>
                <td>I</td>
            </tr>
            <tr>
                <th scope="row">25</th>
                <td>Salmerón Castro	Leonardo</td>
                <td>Investigador Titular A</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>II</td>
            </tr>
            <tr>
                <th scope="row">26</th>
                <td>Tejero Gómez Luis Gerardo</td>
                <td>Técnico	Académico Asociado C</td>
                <td>Interino</td>
                <td>C</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th scope="row">27</th>
                <td>Valdez Lorenzo José	Ferrán</td>
                <td>Investigador Titular A</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>II</td>
            </tr>
            <tr>
                <th scope="row">28</th>
                <td>Vallejo	Ruiz Ernesto</td>
                <td>Investigador Titular B</td>
                <td>Definitivo</td>
                <td>C</td>
                <td>III</td>
            </tr>
            <tr>
                <th scope="row">29</th>
                <td>Zapata Ramírez José	Antonio</td>
                <td>Investigador Titular B</td>
                <td>Definitivo</td>
                <td>B</td>
                <td>I</td>
            </tr>


            </tbody>
        </table>


        <h1>Áreas de investigación</h1>

        <p>En el CCM se	realiza	investigación en las siguientes	áreas de las matemáticas:</p>


        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Categoría</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Biomatemáticas</td>
                <td>Elisa Domínguez	Hüttinger</td>
            </tr>
            <tr>
                <td>Combinatoria Algebraica</td>
                <td>Daniel Pellicer	Covarrubias<br>Ernesto Vallejo Ruiz</td>
            </tr>
            <tr>
                <td>Ecuaciones Diferenciales Parciales</td>
                <td>Elena Kaikina<br>Pavel Naomkine</td>
            </tr>
            <tr>
                <td>Geometría Algebraica</td>
                <td>Luis Abel Castorena	Martínez</td>
            </tr>
            <tr>
                <td>Geometría Diferencial</td>
                <td>Jesús Ruperto Muciño Raymundo<br>José Ferrán Valdez	Lorenzo </td>
            </tr>
            <tr>
                <td>Geometría Discreta </td>
                <td>Daniel Pellicer	Covarrubias<br>Edgardo Roldán Pensado</td>
            </tr>
            <tr>
                <td>Gravitación	Cuántica</td>
                <td>Alejandro Corichi Rodríguez	Gil<br>Robert Oeckl<br>José	Antonio	Zapata Ramírez</td>
            </tr>
            <tr>
                <td>Lógica y Fundamentos</td>
                <td>Michael	Hrusak<br>Ulises Ariet Ramos García</td>
            </tr>
            <tr>
                <td>Probabilidad y Estadística</td>
                <td>Michael	Hrusak<br>Ulises Ariet Ramos García</td>
            </tr>
            <tr>
                <td>Relatividad	General</td>
                <td>Alejandro Corichi Rodríguez	Gil</td>
            </tr>
            <tr>
                <td>Sistemas Dinámicos</td>
                <td>Jesús Ruperto Muciño Raymundo<br>José Ferrán Valdez	Lorenzo</td>
            </tr>
            <tr>
                <td>Teoría Cuántica	de Campos</td>
                <td>Alejandro Corichi Rodríguez	Gil<br>Robert Oeckl</td>
            </tr>
            <tr>
                <td>Teoría de Grupos</td>
                <td>Alberto	Gerardo	Raggi Cárdenas<br>Ernesto Vallejo Ruiz</td>
            </tr>
            <tr>
                <td>Teoría	de Números</td>
                <td>Eugenio	P. Balanzario Gutiérrez<br>Moubariz	Garaev</td>
            </tr>
            <tr>
                <td>Teoría de Representaciones de Álgebras</td>
                <td>Raymundo Bautista Ramos<br>Leonardo	Salmerón Castro</td>
            </tr>
            <tr>
                <td>Topología Algebraica</td>
                <td>Noé	Bárcenas Torres<br>Daniel Juan Pineda</td>
            </tr>
            <tr>
                <td>Topología General</td>
                <td>Salvador García	Ferreira<br>Michael	Hrusak</td>
            </tr>
            </tbody>
        </table>


        <h1>Becarios posdoctorales</h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Periodo</th>
                <th scope="col">Asesor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Katja Bercic
                    <p class="text-left">
                        <small>University of Ljubliana<br>
                            Eslovenia
                        </small>
                    </p>
                </td>
                <td>Oct 2017 - Sep 2019</td>
                <td>Daniel Pellicer	Covarrubias</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Quentin	Edouard	Gendron
                    <p class="text-right">
                        <small>Frankfurt Universität<br>
                            Alemania
                        </small>
                    </p>
                </td>
                <td>Mar 2018 - Feb 2019</td>
                <td>Luis Abel Castorena Martínez</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jesús Hernández	Hernández
                    <p class="text-right">
                        <small>Aix-Marseille Université<br>
                            Francia
                        </small>
                    </p>
                </td>
                <td>Sep	2016 - Ago 2018</td>
                <td>José Ferrán	Valdez Lorenzo</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jesús Hernández	Hernández
                    <p class="text-right">
                        <small>Aix-Marseille Université<br>
                            Francia
                        </small>
                    </p>
                </td>
                <td>Sep	2016 - Ago 2018</td>
                <td>José Ferrán	Valdez Lorenzo</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Cristhian Ernesto Hidber Cruz
                    <p class="text-right">
                        <small>CINVESTAV<br>
                            México
                        </small>
                    </p>
                </td>
                <td>Ago	2017 - Jul 2018</td>
                <td>Daniel Juan	Pineda</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Suzanne	Lanéry
                    <p class="text-right">
                        <small>Friedrich-Alexander-Universität<br>
                            Alemania
                        </small>
                    </p>
                </td>
                <td>Oct 2015 – Oct 2017</td>
                <td>Robert Oeckl</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Albert Much
                    <p class="text-right">
                        <small>Universität Leipzig<br>
                            Alemania
                        </small>
                    </p>
                </td>
                <td>Mar 2017 - Feb 2019</td>
                <td>Robert Oeckl</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Juan Orendain Almada
                    <p class="text-right">
                        <small>UNAM<br>
                            México
                        </small>
                    </p>
                </td>
                <td>Sep	2017 - Ago 2019 </td>
                <td>Robert Oeckl</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Juan Orendain Almada
                    <p class="text-right">
                        <small>UNAM<br>
                            México
                        </small>
                    </p>
                </td>
                <td>Sep	2017 - Ago 2019 </td>
                <td>Robert Oeckl</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Jonatán	Torres Orozco Román
                    <p class="text-right">
                        <small>CIMAT, A.C<br>
                            México
                        </small>
                    </p>
                </td>
                <td>Oct	2017 - Abr 2018</td>
                <td>Noé	Bárcenas Torres</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Hugo Torres	López
                    <p class="text-right">
                        <small>CIMAT, A.C<br>
                            México
                        </small>
                    </p>
                </td>
                <td>Ago	2016 - Jul 2018 </td>
                <td>Luis Abel Castorena Martínez</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Thomai Tsiftsi
                    <p class="text-right">
                        <small>University of Durham<br>
                            Reino Unido
                        </small>
                    </p>
                </td>
                <td>Mar	2017 - Feb 2019 </td>
                <td>Eugenio	P. Balanzario Gutiérrez</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Alejandra Trujillo Negrete
                    <p class="text-right">
                        <small>UNAM-UMSNH<br>
                            México
                        </small>
                    </p>
                </td>
                <td>Mar	2017 - Ago 2017</td>
                <td>Daniel Juan	Pineda</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Paula Ivón Vidal Escobar
                    <p class="text-right">
                        <small>UNAM<br>
                            México
                        </small>
                    </p>
                </td>
                <td>Ago 2017 - Jul 2018</td>
                <td>Salvador García	Ferreira</td>
            </tr>


            </tbody>
        </table>



        <div>&nbsp;</div>
        <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2>Heading</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2>Heading</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    </main>

{% endblock %}

{% block javascripts %}


    <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

{% endblock %}
</html>
