{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visita</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visita.id }}</td>
            </tr>
            <tr>
                <th>Academico</th>
                <td>{{ visita.academico }}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ visita.lugar }}</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>{{ visita.pais }}</td>
            </tr>
            <tr>
                <th>Fechainicio</th>
                <td>{% if visita.fechaInicio %}{{ visita.fechaInicio|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechafin</th>
                <td>{% if visita.fechaFin %}{{ visita.fechaFin|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Evento</th>
                <td>{{ visita.evento }}</td>
            </tr>
            <tr>
                <th>Actividad</th>
                <td>{{ visita.actividad }}</td>
            </tr>
            <tr>
                <th>Motivo</th>
                <td>{{ visita.motivo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visitas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('visitas_edit', { 'id': visita.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
